/* .ast-single-post .entry-content a, .ast-comment-content a:not(.ast-comment-edit-reply-wrap a) {
    text-decoration: none !important;
} */

.tutor-course-card.etlms-course-card-classic.etlms-has-hover-animation {
    box-shadow: none;
}

.tutor-course-name {
    margin: 0 !important;
}

.tutor-course-name a {
    text-decoration: none !important;
    font-size: 14px !important;
}

.tutor-course-card .tutor-course-thumbnail {
    border-radius: 16px !important;
}

.tutor-card {
    background-color: transparent;
}

.elementor-25681 .elementor-element.elementor-element-cec33b0 .etlms-course-list-main-wrap .tutor-course-list {
    column-gap: 16px !important;
}

.etlms-course-list .tutor-courses-wrap {
    margin: auto !important;
}

.__enroll-user {
    margin-left: 4%;
}

.tutor-card-body {
    padding: 2px 0 !important;
}

.tutor-course-card .tutor-course-difficulty-level {
    background: rgba(0, 0, 0, .3) !important;
}

.level_course_icon {
    height: 16px !important;
}

.tutor-card-md .tutor-card-body {
    padding: 20px !important;
}

.tutor-course-thumbnail img {
    border-radius: 16px;
}

.tutor-single-course-sidebar .tutor-sidebar-card .tutor-card-body {
    background-color: transparent !important;
}

.__custom_box_tutor {
    border: none !important;
}

.elementor-post__title a {
    text-decoration: none !important;
}

.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-top: 10px !important;
}

.elementor-post__title {
    height: 26px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.elementor-post__thumbnail img {
    height: 160px !important;
}

.elementor-post__meta-data {
    /* margin-top: -10px; */
}

.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin: 0 !important;
}

.elementor-post__text {
    padding-top: 20px;
}

.elementor-post__thumbnail__link:hover {
    background-color: #000;
    transform: none;
    transition: all 0s ease 0s;
    outline: rgb(255, 0, 0) dashed 0.8px;
    box-sizing: border-box;
    border-radius: 16px;
}